<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SYGNs</title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/edit">Account</a></li>
          <li role="presentation"><a href="/help">Help</a></li>
        </ul>

        <section id="login">
            <div class="container" style='text-align: center;'>
            	<div class="row">
            	    <div class="col-xs-12">

                        <h1>SYGNs help</h1>
                        <h2>Example 1</h2>
                        <img src="/images/map.png" class="img-rounded" alt="" width="284px" height="244px">

                        <h2>Example 2</h2>
                        <img src="/images/map.png" class="img-rounded" alt="" width="284px" height="244px">

                        <h2>Example 3</h2>
                        <img src="/images/map.png" class="img-rounded" alt="" width="284px" height="244px">

            		</div> <!-- /.col-xs-12 -->
            	</div> <!-- /.row -->
            </div> <!-- /.container -->
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><br>
                        <p>Page © SYGNs - 2015</p>
                        <p>Powered by <strong>SYGNs</strong></p>
                    </div>
                </div>
            </div>
        </footer>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap-3.3.5-dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>
