<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SYGNs</title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <ul class="nav nav-tabs" style="background-color:white;font-weight:bold;">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/edit">Account</a></li>
            <li role="presentation"><a href="/help">Help</a></li>
        </ul>

        <section id="login">
            <div class="container" style='text-align: center;'>
            	<div class="row">
            	    <div class="col-xs-12">

                        <h1><img src="/images/sygn_34px.png" alt="mascot" style="padding-bottom: 25px;">SYGNs - Help</h1>

                        <div class="helpDiv">
                          <img src="/images/map.png" class="img-rounded" alt="" width="284px" height="244px">
                          <h2 class="helpSteps">Step 1: <br>
                            Sign into your 'Home' page to view a map of parking restrictions.
                          </h2>
                        </div>

                        <div class="helpDiv">
                          <img src="/images/polyLine.png" class="img-rounded" alt="" width="284px" height="244px">
                          <h2 class="helpSteps">Step 2: <br>
                            View restrictions in your area, or tap the map to start a new restriction. Tap again to end the parking restriction (AKA "Sygn").
                          </h2>
                        </div>

                        <div class="helpDiv">
                          <img src="/images/form.png" class="img-rounded" alt="" width="284px" height="244px">
                          <h2 class="helpSteps">Step 3: <br>
                            Follow the window prompt and complete the form to help us and other users avoid restricted parking zones.
                          </h2>
                        </div>

            		</div>
            	</div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><br>
                        <p>Page © SYGNs - 2015</p>
                        <p>Powered by <strong>SYGNs</strong></p>
                    </div>
                </div>
            </div>
        </footer>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="stylesheets/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="javascripts/help_script.js"></script>
    </body>
</html>
