<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SYGNs</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <link rel="stylesheet" href="stylesheets/reset.css">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/help.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

      <!-- NAVBAR -->
      <ul>
        <li> <a href="/">Sygns </a> </li>
        <li> <a href="/map">Map </a> </li>
        <li> <a href="/edit">Account </a> </li>
        <li> <a href="#"> Help </a> </li>
        <span class="login"> <!-- LOG IN INPUTS -->
          <input type="text" class="userEmail" placeholder="user@email.com">
          <input type="text" class="userPassword" placeholder="password">
          <button type="button" class="loginButton" class="loginButton">login</button>
        </span>
      </ul>

        <section id="login">
            <div class="container" style='text-align: center;'>
            	<div class="row">
            	    <div class="col-xs-12">

                        <h1><img src="/images/sygn_34px.png" alt="mascot" style="padding-bottom: 25px;">SYGNs - Help</h1>

                        <div class="helpDiv">
                          <img src="/images/map.png" class="img-rounded" alt="" width="284px" height="244px">
                          <h2 class="helpSteps">Step 1: <br>
                            Sign into your 'Home' page to view a map of parking restrictions.
                          </h2>
                        </div>

                        <div class="helpDiv">
                          <img src="/images/polyLine.png" class="img-rounded" alt="" width="284px" height="244px">
                          <h2 class="helpSteps">Step 2: <br>
                            View restrictions in your area, or tap the map to start a new restriction. Tap again to end the parking restriction (AKA "Sygn").
                          </h2>
                        </div>

                        <div class="helpDiv">
                          <img src="/images/form.png" class="img-rounded" alt="" width="284px" height="244px">
                          <h2 class="helpSteps">Step 3: <br>
                            Follow the window prompt and complete the form to help us and other users avoid restricted parking zones.
                          </h2>
                        </div>

            		</div>
            	</div>
            </div>
        </section>

        <!-- FOOTER -->
        <div class="footerBar"></div>
        <div class="footer">
          <span class="footerContact"> Sygns&reg; 2437 Corinth Avenue, Los Angeles, CA 90064, United States, info@sygns.com </span>
        </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="javascripts/help_script.js"></script>
        <script src="stylesheets/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    </body>
</html>
