<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SYGNs</title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
      <ul class="nav nav-tabs" style="background-color:white;font-weight:bold;">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active" ><a href="#">Account</a></li>
        <li role="presentation"><a href="/help">Help</a></li>
      </ul>
        <section id="login">
            <div class="container">
            	<div class="row">
            	    <div class="col-xs-12">
                	    <div class="form-wrap">
                            <h1><img src="/images/sygn_34px.png" alt="mascot" style="padding-bottom: 25px;">SYGNs</h1>
                            <h2>Parking Zone Information</h2>
                            <div class="row">
                                <div class="col-sm-12"><div class="well" id="white"><p>Street name</p></div></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><div class="well" id="red"><img src="/images/noParking.png" style="height: 60px; width: 60px;"><p>12 wide</p></div></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><div class="well" id="blue"><img src="/images/Handicap-4.gif" style="height: 60px; width: 40px;"><p>12 wide</p></div></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><div class="well" id="yellow"><img src="/images/valetParking.png" style="height: 60px; width: 40px;"><p>12 wide</p></div></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><div class="well" id="green"><img src="/images/30minParking.gif" style="height: 60px; width: 40px;"><p>12 wide</p></div></div>
                            </div>
                	    </div>
            		</div> <!-- /.col-xs-12 -->
            	</div> <!-- /.row -->
            </div> <!-- /.container -->
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><br>
                        <p>Page © SYGNs - 2015</p>
                        <p>Powered by <strong>SYGNs</strong></p>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="javascripts/edit_user.js"></script>
    </body>
</html>
