html{
  height: 100%;
}

body {
    background-size: cover;
    background: -webkit-linear-gradient(#CCFFFF, #E0E0FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CCFFFF, #E0E0FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CCFFFF, #E0E0FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CCFFFF, #E0E0FF); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}
@font-face {
    font-family: wazeFont;
    src:url(../fonts/proxima-nova-soft-bold.ttf);
}
#map-title h1 {
    font-family: wazeFont;
    color: #00008B;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
}

.container{
  text-align: center;
}

#map-canvas {
    height: 500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /* h-shadow v-shadow blur spread color */
    box-shadow: 3px 3px 10px 2px grey,
                -3px -3px 10px 2px grey;

    border-radius: 14px 14px 14px 14px;
}

#map-modal{
  height: 80%;
  min-height: 100px;
  width: 85%;
  min-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#restriction-type {

}

.time{
  text-align: center;
  height:28px;
  margin-top: 5px;
}

.timeText{
  width: 100px;
  padding-right: 10px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.daysUL{
    font-weight: bold;
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
}

.daysUL > li{
  display: inline-block;
  width:12.5%;
  font-size: 20px;
  margin: 0;
  border: 2px solid grey;
  background-color: rgba(0, 0, 139, 0.38);
  color:white;
  border-radius: 3px;
}

#sygnForm{
  text-align: center;
}

#save-sygn{
  color:white;
  background: #4CAE4C;
  height: 30px;
  width: 20%;
  min-width: 80px;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 16px;
  border-width: 0;
}

#myList, #myList2, .am-pm{
  height:25px;
  font-weight: bold;
  font-size: 15px;
  height:28px;
}

.modal-header > h4 {
  color:#333;
  font-family: wazeFont;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
  display: block;

  width: 100%;
  text-align: center;
}

.modal-body > p {
    width: 100%;
    text-align: center;
}

#image-preview {
    width: 220px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

#no-parking{
  color: red;
}
/* ------------loading icon animation------------------ */
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
/* ------------loading icon animation------------------ */

/* ------------INCREASE MAP SIZE FOR WEB BROWSERS------------------ */
@media (min-width: 650px) and (max-width: 2000px) {

  #map-canvas {
      height: 500px;
      width: 600px;
  }

}

@media (max-width: 650px) {

  .timeText{
    width:70px;
    font-size: 13px;
  }

}
