body {
    background: -webkit-linear-gradient(#CCFFFF, #E0E0FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CCFFFF, #E0E0FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CCFFFF, #E0E0FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CCFFFF, #E0E0FF); /* Standard syntax (must be last) */
}
@font-face {
    font-family: wazeFont;
    src:url(../fonts/proxima-nova-soft-bold.ttf);
}
#map-title h1 {
    font-family: wazeFont;
    color: #00008B;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.container{
  text-align: center;
}

#map-canvas {
    height: 500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 3px 3px 5px grey,
            -3px -3px 5px grey;
}

.modal-header > h4 {
  color:#333;
  text-decoration: underline;
  list-style: none;
  display: block;

  width: 100%;
  text-align: center;
}

.modal-body > p {
    width: 100%;
    text-align: center;
}

#image-preview {
    width: 220px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

#no-parking{
  color: red;
}
