
body {
    background-size: cover;
    background: -webkit-linear-gradient(#CCFFFF, #E0E0FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CCFFFF, #E0E0FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CCFFFF, #E0E0FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CCFFFF, #E0E0FF); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

@font-face {
    font-family: wazeFont;
    src:url(../fonts/proxima-nova-soft-bold.ttf);
}
h1, h2 {font-family: wazeFont;}

.container{
  text-align: center;
}

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    /*padding-top: 50px*/
}
#login .form-wrap {
    width: 30%;
    min-width: 250px;
    margin: 0 auto;
}
#login h1 {
    color: #00008B;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
}

#login h2 {
    color: #00008B;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #00008B;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.form-wrap{
  text-align: center;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

/*    --------------------------------------------------
	:: Sign UP Section
	-------------------------------------------------- */
.lefty{
  text-align: left;
}

.form-group .lefty{
  text-align: left;
}

/*    --------------------------------------------------
	:: Help Section
	-------------------------------------------------- */
.helpSteps{
  font-size: 17px;
  max-width: 300px;
  display: inline-block;
  margin-left: 10px;
}

.helpDiv{
  margin: 20px auto;
}
